
#sample_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}
#credits_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}
#how_to_play_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}

#settings_screen_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}

#start_game_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;

}
#player_id_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;

}
#play_game_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;

}
#join_game_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;

}

#creator_wait_grid{
    -fx-background-image: url("/backgrounds/dark_wait.jpg");
    -fx-background-size: cover;
}
#wait_grid{
    -fx-background-image: url("/backgrounds/dark_wait.jpg");
    -fx-background-size: cover;
}

#in_game_accordion{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}

#my_wonder_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}
#enemies_grid{
    -fx-background-image: url("/backgrounds/dark_theme_background2.jpg");
    -fx-background-size: cover;
}


.button {
    -fx-background-radius: 5px 25px;
   /* -fx-background-clip: padding-box;*/
    -fx-background-color:#665a78;
}



